
<script>
    function close_filter(){
        filter.close()
    }
    function search(){
        filter.search()
        filter.close()
    }

    $(function(){
       filter= new Vue({
            el:'#filter-block',
            data:{
                row_filters:row_filters,
                search_args:search_args,
                search_tip:search_tip,
            },
            mixins:[popup_page],
            methods:{
                selector:function(){
                    return '.popup-filter'
                },
//                open:function(){
//                    var self=this
//                    f7_app.popup('.popup-filter')
////                    self.show=true
//                    self.add_nav()
//
//                    ff.push(this.close_)
//                },
//                close:function(){
//                    ff.pop()
//                    this.close_()
//                },
//                close_:function(){
//                    f7_app.closeModal()
////                    this.show=false
//                    this.rm_nav()
//                },
                assure:function(){
                  this.search()
                    this.close()
                },
                search:function () {
                    setTimeout(function(){
                        parent.replace_iframe(ex.appendSearch(search_args))
                    },300)
                },
//                add_nav:function(){
//                    ff.add_nav(' <div class="navbar">\
//                            <div class="navbar-inner">\
//                            <div class="left"><a href=" javascript:void(0)" onclick="call_iframe(\'close_filter\')" style="padding-left: 1em;">取消</a></div>\
//                            <div class="center"></div>\
//                            <div class="right"><a href=" javascript:void(0)" onclick="call_iframe(\'search\')" style="padding-right: 1em;">确定 </a></div>\
//                            </div>\
//                            </div>')
//
//                },
//                rm_nav:function(){
//                    parent.remove_nav()
//                }

            }
        })
    })

</script>


<style>
    /*._full_screen{*/
        /*position: fixed;*/
        /*left: 0;*/
        /*width: 100vw;*/
        /*height: 100vh;*/
        /*top:0;*/
        /*background-color: white;*/
        /*z-index: 9000;*/
        /*//overflow: auto;*/
    /*}*/

    .slide_up-enter-active, .slide_up-leave-active {
        transition: all .5s ease;
    }
    .slide_up-enter,.slide_up-leave-to {
        top: 100vh;
        /*opacity: 0;*/
    }
</style>

<!--class="_full_screen" style="border-top: 1px solid #8f8f8f;"-->
<div id="filter-block">
    <div class="popup popup-filter">
        <div class="content-block">
            <com-filter :row_filters="row_filters" :search_args="search_args" :search_tip='search_tip'></com-filter>
        </div>
    </div>
    <!--<transition name="slide_up" >-->
        <!--<div v-show="show" class="_full_screen" style="border-top: 1px solid #8f8f8f;">-->
            <!--<com-filter :row_filters="row_filters" :search_args="search_args" :search_tip='search_tip'></com-filter>-->

        <!--</div>-->
    <!--</transition>-->
</div>

<!--<div class="popup popup-filter">-->
    <!--<div class="content-block">-->

        <!--<p><a href="#" class="close-popup">Close popup</a></p>-->

        <!--<div id="filter-block">-->
            <!--<div>-->
                <!--<title-bar :with_back="true" title="筛选过滤"></title-bar>-->
                <!--<com-filter :row_filters="row_filters" :search_args="search_args" :search_tip='search_tip'></com-filter>-->

                <!--<div class="weui-btn-area">-->
                    <!--<a class="weui-btn weui-btn_primary" href="javascript:" @click='search()' style="width: 50%;">-->
                        <!--<i class="fa fa-search" aria-hidden="true"></i>-->
                    <!--</a>-->
                <!--</div>-->

            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->


<!--<div id="filter-block">-->
    <!--<transition name="slide">-->
        <!--<div v-show="show" class="slide-win">-->
            <!--<title-bar :with_back="true" title="筛选过滤"></title-bar>-->
            <!--<com-filter :row_filters="row_filters" :search_args="search_args" :search_tip='search_tip'></com-filter>-->

            <!--<div class="weui-btn-area">-->
                <!--<a class="weui-btn weui-btn_primary" href="javascript:" @click='search()' style="width: 50%;">-->
                    <!--<i class="fa fa-search" aria-hidden="true"></i>-->
                <!--</a>-->
            <!--</div>-->

        <!--</div>-->
    <!--</transition>-->
<!--</div>-->
