{% extends "jb_admin/base.html" %}
{% load static %}
{% load jsonify %}

{% block page_content %}
<!--<script src="https://cdn.bootcss.com/echarts/4.1.0-release/echarts.min.js"></script>-->
<script src="{{ js_config.js_lib.echarts }}"></script>
<script src="{{ js_config.js_lib.maindb }}"></script>

<script>

    today_heads={{ today_heads | jsonify }}
    today_row={{ today_row | jsonify }}
    trend_list={{ trend_list | jsonify }}

    $(function(){



        new Vue({
            el:'#there',
            data:{
                today_heads:today_heads,
                today_row:today_row,

                trend_list:trend_list,
                activeName:trend_list[0].key,
            },

        })


    })

</script>

<div id="there" class="home-page">
<div v-if="!today_heads">
    欢迎访问管理后台!
</div>
<template v-if="today_heads">
    <b>今日统计</b>
    <div class="my-panel">
        <div class="today-item" v-for="head in today_heads">
            <span v-text="today_row[head.name]"></span><br>
            <span v-text="head.label"></span>
        </div>
    </div>

    <b>趋势图</b>
    <div class="my-panel">
        <el-tabs v-model="activeName" >
            <el-tab-pane v-for="trend in trend_list" :label="trend.label" :name="trend.key" lazy>
                <div style="height:400px;width: 100%">
                    <com-bar-chart :trend="trend"></com-bar-chart>
                </div>
            </el-tab-pane>
            <!--<el-tab-pane label="定时任务补偿" name="fourth">定时任务补偿</el-tab-pane>-->
        </el-tabs>
    </div>
</template>


</div>


{% block extra %}
{% endblock %}
{% endblock %}