{% extends "wx/base.html" %}
{% load static %}
{% load jsonify %}


{% block page_content %}
<script src="{% static 'js/fields_mb.pack.js' %}"></script>
<script type="text/javascript">

    with_menu=false
    ln.readCache()

    form_logic={
        el:'#there',
        data:{
            page_label:page_label,
        },
        mixins:[field_fun],

        mounted:function(){

        },
        methods:{
        }
    }

    $(function(){
        new Vue(form_logic)
    })
</script>

{% block extra_head %}

{% endblock %}

<div id="there" v-cloak style="overflow: auto">
    <!--<div  class="page_label" v-text="page_label">编辑内容</div>-->

    {% block form_view %}
    <div class="form-pad">
        <field v-for="head in kw.heads" :name="head.name" :kw="kw"></field>
    </div>
    {% endblock %}

    {% block sub_btn_group %}
    <div v-btn-group>
        <a v-if="can_edit" state="success"  @click="submit()">确定</a>
        <a v-if="can_del" state="danger" :href="get_del_link()">删除</a>
    </div>

    {% endblock %}
</div>
<style>
    .page_label{
        padding: 0.5em 1em;
        color: #6e5f7f;
    }
    .sub-btn-panel{
        text-align: center;
    }
    .sub-btn-panel a{
        margin-top: 1em;
    }
</style>


{% endblock %}