{% extends "wx/base.html" %}
{% load static %}
{% load jsonify %}


{% block page_content %}
<script src="{% static 'js/fields_mb.pack.js' %}"></script>
<script type="text/javascript">


    title_bar=false

    $(function(){
        new Vue({
            el:'#there',
            data:{
                menu:menu,

            },

            methods:{
//                ex.sort_by_names()
            }
        })
    })
</script>

<div id="there">
    <a href="/f7/home.f7">fff777</a>
    <div class="b-image">
        <img src="http://thumb.jfcdns.com/thumb/up/2015-2/201502041009207922590_225_260.jpg" width="100%"/>

    </div>


    <div class="pad">
        <div class="weui-grids">
            <a :href="act.url" class="weui-grid" v-for="act in menu">
                <div class="weui-grid__icon">
                    <span v-html="act.icon"></span>
                </div>
                <p class="weui-grid__label" v-text="act.label"></p>
            </a>
        </div>
    </div>


</div>

<style type="text/css">
    .pad{
        background-color: white;
        margin-top: 20px;
    }
    b-image{
        opacity: 0.6;
    }
</style>

{% endblock %}



