{% extends "wx/base.html" %}
{% load static %}
{% load jsonify %}


{% block page_content %}

{% include 'organize/com_department_wx.html' %}
{% include 'organize/com_depart_btn.html' %}
{% include 'wx/com/table_filter_wx.html' %}
{% include 'organize/com/active_department.html' %}

<script type="text/javascript">




    main_logic={
        el:'#there',
        data:{

            ln:ln,
            page_label:page_label,
            show_menu:false,
        },
        mixins:[table_fun],
        mounted:function(){
            var self=this
//            Vue.nextTick(function(){
//                self.$refs.scroller.refresh()
//            })

            bus.$on('menu_click',function(){
                self.show_menu=true
            })
        },
        methods:{
//            goto:function(url){
//                location=url
//            },
            ge_edit:function(pk){
                var url=ex.template('{engine_url}/{page_name}.edit',{engine_url:engine_url,page_name:page_name})
                search_args.pk=pk
                location= ex.appendSearch(url,search_args)
            },
            get_row_img:function(row){
                return  row.desp_img || row.work_desp_img || '/static/res/image/person-work.png'
            },
//            switch_to:function(name){
//                history.pushState({view:name},'',ex.appendSearch({crt_view:name}))
//                this.crt_view=name
//            },


        }
    }


    $(function(){
        table= new Vue(main_logic)
    })
</script>


<div id="there" v-cloak class="flex-grow" style="position: relative">


    <!--<button @click="switch_to('search')">过滤</button>-->

    <scroll-loader :can_load="has_next_page" @load_more="load_next_page()">
        <div class="weui-cells">
            <div class="weui-cell weui-cell_access"  v-for="row in rows" style="padding-top:1.6em;margin-bottom: 0.3em;padding-bottom: 0.1em;">



                <div class="weui-cell__bd" @click="ge_edit(row.pk)" style="position: relative;">

                    <!--<img style="position:absolute;right:1em;top:-0.4em;width: 1.5em;height: 1.5em;border-radius: 1em;" :src="row.emp.head" alt=""/>-->
                    <div v-if="row.status=='pass'" style="position:absolute;right:1em;top:-0.4em;color: green;">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </div>

                    <div class="flex">
                        <div><img style="width: 3em;height: 3em" :src="get_row_img(row)" alt=""/></div>
                        <div style="padding: 0 1em;">
                            <table>
                                <tr v-for="info in ['work','finish_time','count','depart']" style="padding: 0.2em 0;">
                                    <td style="text-align: right;padding-right:0.5em;" v-text="ex.findone(heads,{name:info}).label"></td>
                                    <td v-text="row[info]"></td>
                                </tr>

                            </table>
                            <!--<div>-->
                                <!--<span style="margin-right: 0.3em;">工作名称:</span><span v-text="row.work"></span>-->
                            <!--</div>-->
                            <!--<div>-->
                                <!--<span style="margin-right: 0.3em;">完成日期:</span><span v-text="row.finish_time"></span>-->
                            <!--</div>-->
                            <!--<div>-->
                                <!--<span style="margin-right: 0.3em;">数量:</span><span v-text="row.count"></span>-->
                            <!--</div>-->
                            <!--<div>-->
                                <!--<span style="margin-right: 0.3em;">从属部门:</span><span v-text="row.depart"></span>-->
                            <!--</div>-->

                        </div>

                    </div>

                    <div style="margin-top:1.4em;text-align: right;font-size: 0.6em;color: #bebdbc">

                        <span v-text="row.emp.name"></span>
                        <span style="margin: 0 0.3em">于</span>
                        <span v-text="row.create_time"></span>
                        <span style="margin: 0 0.3em">提交</span>

                    </div>

                </div>
                <div class="weui-cell__ft">
                </div>
            </div>
        </div>
    </scroll-loader>



        <transition name="fade">
            <modal id="pop-menu" v-show="show_menu" @click.native="show_menu=false">

                <div class="weui-actionsheet__menu up-menu" @click.stop="" style="width: 80vw;">
                    <!--<div class="weui-actionsheet__cell" @click="add_new();show_menu=false" v-if="can_add">新建</div>-->
                    <div class="weui-actionsheet__cell" @click="ln.pushState({crt_view:'show_active-depart'});show_menu=false">下属部门</div>
                    <div class="weui-actionsheet__cell" @click="del_item();is_show_menu=false" v-if="can_del &&selected.length>0">删除选中</div>
                    <div class="weui-actionsheet__cell" @click="ln.pushState({crt_view:'show_filter'});show_menu=false" v-if="can_search">排序过滤</div>
                    <div class="weui-actionsheet__cell" v-if="help_url" @click="goto(help_url)">帮助</div>
                </div>
                <div class="weui-actionsheet__cell">
                    <div class="weui-actionsheet__cell" @click="show_menu=false">取消</div>
                </div>

            </modal>
        </transition>

</div>


{% endblock %}