{% extends "f7/base.html" %}
{% load static %}
{% load jsonify %}

{% block extra_head %}
    {% include 'f7/com/popup_page.html' %}
    {% include 'f7/com/table_time_group.html' %}
{% endblock %}

{% block page_content %}

{% comment %}
{% include 'organize/com_department_wx.html' %}
{% include 'organize/com_depart_btn.html' %}
{% include 'wx/com/table_filter_wx.html' %}
{% include 'organize/com/active_department.html' %}

{% endcomment %}

{% include 'work/com/workrecord_fast_display.html' %}

<script src='{% static "organize/organize.pack.js?t=" %}{{ organize_stamp.organize_pack_js }}'></script>
<script type="text/javascript">

    ff.pop_menu(function(){
        var buttons = [
//            {
//                text: '下属部门',
//                onClick: function () {
//                    active_depart.open();
//                }
//            },
            {
                text: '新建',
                onClick: function () {
                    table.add_new();
                }
            },
            {
                text: '排序过滤',
                onClick: function () {
                    filter.open()
                }
            },
        ];
        if(table.help_url){
            buttons.push({
                text: '帮助',
                onClick: function () {
                    table.goto(help_url);
                }
            })
        }

        buttons.push({
            text: '取消',
            color: 'red',
        })
        ff.app.actions(buttons)
    })


    depart_list={{ depart_list | jsonify | default:'false' }}
    crt_depart={{ crt_depart | jsonify | default:'false' }}

    $(function(){

        table= new Vue({
            el:'#there',
            data:{

//                ln:ln,
                page_label:page_label,

                depart_list:depart_list,
                crt_depart:crt_depart,

            },
            mixins:[table_fun,table_time_group],
            mounted:function(){
//                var self=this
//                bus.$on('menu_click',function(){
//                    self.show_menu=true
//                })
//                Vue.nextTick(function(){
//                    self.$refs.scroller.refresh()
//                })
            },
            methods:{
                get_group_key:function(row){
                    return row.create_time.slice(0,10)
                },
                add_new: function add_new() {
                    // 启用
                    var pathname=ex.template('{engine_url}/{page}.edit', {
                        engine_url: engine_url,
                        page: page_name,
                    });
                    var url=ex.appendSearch(pathname,search_args)
                    ff.load(url,page_name+'_edit')
                },

                ge_edit:function(pk){
                    var url=ex.template('{engine_url}/{page_name}.edit',{engine_url:engine_url,page_name:page_name})
                    search_args.pk=pk
                    var url = ex.appendSearch(url,search_args)
                    setTimeout(function(){
                        ff.load(url,page_name+'_edit')
                    },300)

                },

//                back:function(){
//                    location = document.referrer
//                },
                get_row_img:function(row){
                    return  row.desp_img || row.work_desp_img || '/static/res/image/person-work.png'
                },
                open_image:function(url){
                    ff.open_image(url)
                },
                switch_status:function(row){
                    if(row.status!='pass'){
                        row.status='pass'
                    }else{
                        row.status='waiting'
                    }
                    var post_data=[{fun:'save',row:row}]
                    ex.post('/_ajax',JSON.stringify(post_data),function(resp){
                        if(resp.save.errors){
                            ff.alert(resp.save.errors)
                        }else{
                            ex.assign(row,resp.save.row)
                        }

                    })
                }

            }
        })
    })
</script>


<div id="there" v-cloak class="flex-grow flex-v" style="position: relative;">

    <depart-btn-panel :depart_list="depart_list" :crt_depart="crt_depart"></depart-btn-panel>
    <div class="flex-grow" style="position: relative;">
        <scroll-loader   :can_load="has_next_page" @load_more="load_next_page()">

            <div v-for="sub_rows in grouped_rows">
                <h3 style="text-align: center;" v-text="norm_date( sub_rows.key)"></h3>

                <div class="weui-cells" >
                    <workrecord-panel v-for="row in sub_rows.list" :row="row" @switch_status="switch_status(row)" :checkable="true"></workrecord-panel>

                </div>

            </div>

        </scroll-loader>
    </div>



</div>

<style type="text/css">

</style>

{% endblock %}