{% extends "wx/base.html" %}
{% load static %}
{% load jsonify %}


{% block page_content %}

{% include 'organize/com_department_wx.html' %}
{% include 'organize/com_depart_btn.html' %}
{% include 'wx/com/table_filter_wx.html' %}
{% include 'organize/com/active_department.html' %}

<script type="text/javascript">




    $(function(){

        table= new Vue({
            el:'#there',
            data:{

                ln:ln,
                page_label:page_label,
                show_menu:false,

            },
            mixins:[table_fun],
            mounted:function(){
                var self=this
                bus.$on('menu_click',function(){
                    self.show_menu=true
                })
//                Vue.nextTick(function(){
//                    self.$refs.scroller.refresh()
//                })
            },
            methods:{
                ge_edit:function(pk){
                    var url=ex.template('{engine_url}/{page_name}.edit',{engine_url:engine_url,page_name:page_name})
                    search_args.pk=pk
                    location= ex.appendSearch(url,search_args)
                },

                back:function(){
                    location = document.referrer
                },
                get_row_img:function(row){
                    return  row.desp_img || row.work_desp_img || '/static/res/image/person-work.png'
                }

            }
        })
    })
</script>

<style>
    .item-table{
        width: 100vw;
    }
    .item-table td{
        padding:1em 0.3em;
        min-width: 2em;
        text-align: center;
    }
    tr:nth-child(odd){background-color: #ffffff;}
    td:nth-child(1){
        padding-left: 0.5em;
    }
    .item-table img{
        box-shadow:0 0 10px rgba(38, 67, 201, 0.5);
    }
</style>


<div id="there" v-cloak class="flex-grow" style="position: relative;">

        <scroll-loader   :can_load="has_next_page" @load_more="load_next_page()">
            <table class="item-table">
                <tr v-for="row in rows" @click="ge_edit(row.pk)">
                    <td><img style="width: 3em;height: 3em" :src="get_row_img(row)" alt=""/></td>
                    <td><span v-text="row.work"></span></td>

                    <td> <i v-if="row.status=='pass'" class="fa fa-circle" aria-hidden="true" style="color: #04be02"></i>
                        <i v-if="row.status=='waiting'" class="fa fa-telegram" aria-hidden="true" style="color: #074bb6"></i>
                        <i v-if="row.status=='reject'" class="fa fa-info-circle" aria-hidden="true" style="color: red"></i>
                    </td>
                    <td><span v-text="row.emp"></span></td>
                </tr>


            </table>
        </scroll-loader>

    <!--</div>-->


    <transition name="fade">
        <modal id="pop-menu" v-show="show_menu" @click.native="show_menu=false">

            <div class="weui-actionsheet__menu up-menu" @click.stop="" style="width: 80vw;">
                <!--<div class="weui-actionsheet__cell" @click="add_new();show_menu=false" v-if="can_add">新建</div>-->
                <div class="weui-actionsheet__cell" @click="ln.pushState({crt_view:'show_active-depart'});show_menu=false" v-if="can_search">下属部门</div>
                <div class="weui-actionsheet__cell" @click="del_item();show_menu=false" v-if="can_del &&selected.length>0">删除选中</div>
                <div class="weui-actionsheet__cell" @click="ln.pushState({crt_view:'show_filter'});show_menu=false" v-if="can_search">排序过滤</div>
                <div class="weui-actionsheet__cell" v-if="help_url" @click="goto(help_url)">帮助</div>
            </div>
            <div class="weui-actionsheet__cell">
                <div class="weui-actionsheet__cell" @click="show_menu=false">取消</div>
            </div>

        </modal>
    </transition>



</div>

<style type="text/css">

</style>

{% endblock %}