{% extends "f7/tabgroup.html" %}
{% load static %}
{% block extra_script %}

<script>
    depart_logic={
        methods:{
            after_sub:function(new_row){
                var self=this
                ff.back(function(last_win){
                    if(self.kw.row.pk){
                        var row = ex.findone(last_win.table.rows,{pk:new_row.pk})
                        ex.assign(row,new_row)
                    }else{ // 新建
                        last_win.location.reload()
                    }
                })
            },
        }
    }

    form_logic.mixins=[field_fun,depart_logic]
</script>
{% endblock%}


