{% extends "f7/tabgroup.html" %}
{% load static %}

{% block extra_head %}
{% include 'f7/com/popup_page.html' %}
<script src='{% static "js/ex_inputs.pack.js" %}'></script>
<script src='{% static "organize/organize.pack.js" %}'></script>
<script>


    depart_layer_tree_url = "{% url 'organize.tree_depart' %}"

    row.depart_obj=row.depart_obj || {pk:null,name:'请选择部门'}

    depart_win2=new DepartSelect(depart_layer_tree_url)

    ex.each(heads,function(head){
        if(head.name=='depart'){
            head.type='com-many-department'
        }
//    if(head.name=='manage_depart'){
//        head.type='com-many-department'
//    }
//    if(head.name=='follow_depart'){
//        head.type='com-many-department'
//    }
    })

//    depart_logic={
//        methods:{
//            after_sub:function(new_row){
//                var self=this
//                ff.back(function(last_win){
//                    if(self.kw.row.pk){
//                        var row = ex.findone(last_win.table.rows,{pk:new_row.pk})
//                        ex.assign(row,new_row)
//                    }else{ // 新建
//                        last_win.location.reload()
//                    }
//                })
//            },
//        }
//    }
//
//    form_logic.mixins=[field_fun,depart_logic]

    /*
    * department component 好像没有用到
    * */
    Vue.component('department',{
        props:['name','row','kw'],
        template:'<button style="margin-left: 1em;" type="button" class="btn btn-primary btn-xs" v-text="row.depart_obj.name" @click="on_click()">sss</button>',
        methods:{
            on_click:function(){
                depart_win.get_department(row.depart_obj,function(department){
                    row.depart_obj=department
                    row.depart=department.pk
                })
            }
        }
    })



    Vue.component('com-many-department',{
        template:'#com-many-department',
        props:['name','row','kw'],

        computed:{
            list:{
                get:function(){
                    var values = this.row[this.name]
                    var selected=ex.filter(this.kw.options,function(option){
                        return ex.isin(option.value,values)
                    })
                    return selected
                },
                set:function(items){
                    var values=ex.map(items,function(item){
                        return item.value
                    })
                    values=ex.unique(values)
                    this.row[this.name]=values
                }
            }
        },
        methods:{
            add_department:function(){
                var root=null
                var self=this
//                depart_win.get_department(root,function(department){
//                    var copy_list=self.list.slice()
//                    copy_list.push({value:department.pk,label:department.name})
//                    self.list=copy_list
//                })
                depart_win2.select(function(department){
                    var copy_list=self.list.slice()
                    copy_list.push({value:department.pk,label:department.name})
                    self.list=copy_list
                })
            }
        },


    })
</script>

<template id="com-many-department">
    <div>
        <i v-if='!kw.readonly' @click="add_department()" class="fa fa-pencil-square-o" aria-hidden="true" style="float: right;margin-right: 1em;font-size: 1.5em;"></i>
        <com-tab-box v-model="list" :readonly="kw.readonly"></com-tab-box>

    </div>
</template>

{% endblock %}

{% block extra_body %}
    <!--{&#45;&#45;% include 'organize/com_department_wx.html' %&#45;&#45;}-->
{% endblock %}








