{% extends "director/index.html" %}
{% load static %}
{% load jsonify %}

{% block page_content %}
<script src='{% static "js/ex_inputs.pack.js" %}'></script>
<script type="text/javascript">

    bus=new Vue()
    department_url = "{% url 'organize.department' %}"

//    ex.each(heads,function(head){
//        if(head.name=='depart'){
//            head.type='department'
//        }
//    })

    tabs={{ tabs | jsonify | default:'[]' }}
    crt_tab = '{{ crt_tab | default:'null' }}'
    crt_tab = crt_tab || tabs[0].name

    row.depart_obj=row.depart_obj || {pk:null,name:'请选择部门'}

    form_logic={
        el:'#there',
        data:{
            tabs:tabs,
            crt_tab:crt_tab,
            department_url:department_url,
            show_depart:false,
        },
        mounted:function(){
          bus.$on('depart-btn-click',this.open_depart_win)
        },
        mixins:[field_fun],
        methods:{
            item_link:function(name){
                if(name!=this.crt_tab){
                    return ex.appendSearch({_tab:name})
                }else{
                    return 'javascript:;'
                }
            },
            on_dirclick:function(department){
                row.depart_obj=department
                row.depart=department.pk
                this.show_depart=false
            },
            open_depart_win:function(){
                this.show_depart=true
                if(row.depart_obj.pk){
                    this.$refs.catalog.dir_data(row.depart_obj)
                }
            }
        }
    }

    $(function () {
        new Vue(form_logic)
    })
</script>

<script>
    Vue.component('department',{
        props:['name','row','kw'],
        template:'<button type="button" class="btn btn-primary btn-xs" v-text="row.depart_obj.name" @click="on_click()">sss</button>',
        methods:{
            on_click:function(){
                bus.$emit('depart-btn-click')
            }
        }
    })
</script>


<div id='there'>

    <div v-if="can_log" style='float: right;padding: 5px 20px;'>
        <a :href="log_url()">History</a>
    </div>
    <path-nav :menu='menu'>
        <li><span>编辑</span></li>
    </path-nav>

    <div class="flex">
        <ul class="nav nav-tabs tabs flex-grow">
            <li v-for="tab in tabs" :class="{'active':crt_tab==tab.name}"><a :href="item_link(tab.name)" v-text="tab.label" ></a></li>

        </ul>

        <com-form-btn :submit="submit" :del_row="del_row" :cancel="cancel"></com-form-btn>

    </div>


    <div class='field-panel'>

        <field  v-for='head in kw.heads' :key="head.name" :name='head.name' :kw='kw'></field>
    </div>

    <modal @click.native="show_depart=false" v-show="show_depart">
        <div @click.stop="" style="padding: 2em;width: 400px;">
            <com-catalog ref="catalog" :url="department_url" :root="{pk:null,name:'公司'}" @dirclick="on_dirclick($event)"
                         :editable="false" inline-template>

                <div class="com-catalog">
                    <div class="flex">
                        <ol class="breadcrumb flex-grow">
                            <li ><a href="javacript:;" @click="dir_data(root)" v-text="root.name">root</a></li>
                            <li v-for="dir in parents" ><a href="javacript:;" v-text="dir.name" @click="dir_data(dir)" ></a></li>
                        </ol>
                        <slot name="head_end"></slot>
                    </div>

                    <div class="bd">
                        <ul>
                            <li v-for="dir in dirs" class="dir">
                                <!--<slot  name="check_sel" :value="dir" :toggle_check="toggle_check" :selected="selected">-->
                                    <!--<input v-if="editable" type="checkbox" :value="dir" v-model="selected"/>-->
                                <!--</slot>-->

                                <!--<slot dir_icon>-->
                                    <!--<i class="fa fa-folder" aria-hidden="true"></i>-->
                                <!--</slot>-->
                                <!--<span @click=""><i class="fa fa-plus-square-o" aria-hidden="true"></i></span>-->



                                <span v-text="dir.name" class="clickable name" @click="dir_data(dir)"></span>
                                <!--<span @click="$emit('dirclick',dir)"><i class="fa fa-check" aria-hidden="true"></i></span>-->
                                <button class="btn btn-default btn-xs" type="button" @click="$emit('dirclick',dir)">选择</button>
                                <!--<slot name="btn-panel" :selected="selected" :item="dir"></slot>-->
                            </li>
                        </ul>
                    </div>
                </div>

            </com-catalog>
        </div>

    </modal>

</div>

<style type="text/css">
    .tabs{
        align-items: center;
    }
    .tabs li:first-child{
        margin-left: 15px;
    }
    .tabs li{
        display: inline-block;
        margin-left:5px;
        vertical-align: bottom;
    }

    .nav.tabs>li>a{
        padding: 8px 18px 5px 18px;
        background-color: #f6f7f8;
        border: 1px solid #dddddd;
        border-bottom: none;
        position: relative;
        margin-bottom: 1px;
        font-weight: 400;
    }
    .nav li>a:hover{
        text-underline: blue;
        text-decoration: underline;
    }

    .nav li.active>a:after{
        content: ' ';
        position: absolute;
        width: 100%;
        height: 4px;
        bottom: -4px;
        left: 0;
        background-color: #eee;
    }
    .nav li.active a{
        text-decoration: none;
        background-color: #eeeeee;
        font-weight: 500;
    }
    .nav li.active a:hover{
        border-bottom: none;
        text-decoration: none;
        color: #a2a2a2;
        font-weight: 500;
        background-color: #eeeeee;
    }
</style>

{% endblock %}