{% load jsonify %}


<script>
    data_key = '{{ data_key | default:"" }}'
    child_depart_list={{ child_depart_list | jsonify | default:'[]' }}

    $(function(){
        active_depart=  new  Vue({
            el:'#active-depart',
            data:{
//                ln_state:ln_state,
                child_depart_list:child_depart_list
            },
            mixins:[popup_page],
            methods:{
                selector:function(){
                    return '.popup-active-depart'
                },
                assure:function(){
                    this.save()
                    this.close()
                },
                add:function(){
                    var self=this
                    depart_win.get_department(crt_depart,function(depart){
                        if(!ex.isin(depart,self.child_depart_list,function(child_depart){
                                    return depart.pk==child_depart.pk
                                })){
                            self.child_depart_list.push(depart)
                        }

                    })
                },
                save:function(){
                    var depart_pk_list=ex.map(this.child_depart_list,function(depart){
                        return depart.pk
                    })
                    var post_data=[{fun:'save_emplyee_data',data_key:data_key,content:depart_pk_list}]
                    ex.post('/_ajax/organize',JSON.stringify(post_data),function(resp){
                        ff.show_load()
                        location.reload(true)
                    })
                },
                rm_depart:function(depart){
                   ex.remove(this.child_depart_list,{pk:depart.pk})
                }
            }
        })
    })

</script>
<div id="active-depart">
    <div class="popup popup-active-depart">
        <div class="content-block">
            <div class="right-side-btn">
                <span  @click="add()" style="color: #ccaa4b"><i class="fa fa-plus fa-2x" aria-hidden="true"></i></span>
                <span  @click="assure()" style="color: #6bdd62;"><i class="fa fa-check fa-2x" aria-hidden="true"></i></span>
            </div>

            <div style="padding: 1em 0.5em;">
                <com-tab-lite v-for="depart in child_depart_list" :label="depart.name" :value="depart.pk" @close="rm_depart(depart)"></com-tab-lite>
            </div>
        </div>
    </div>

    <!--<transition name="slide">-->
        <!--<div class="slide-win">-->
            <!--<title-bar :with_back="true" title="选择下属部门"></title-bar>-->
            <!--<div class="right-side-btn">-->
                <!--<span  @click="add()" style="color: #ccaa4b"><i class="fa fa-plus fa-2x" aria-hidden="true"></i></span>-->
                <!--<span  @click="save()" style="color: #6bdd62;"><i class="fa fa-check fa-2x" aria-hidden="true"></i></span>-->
            <!--</div>-->

            <!--<div style="padding: 1em 0.5em;">-->
                <!--<com-tab-lite v-for="depart in child_depart_list" :label="depart.name" :value="depart.pk" @close="rm_depart(depart)"></com-tab-lite>-->
            <!--</div>-->
        <!--</div>-->
    <!--</transition>-->

</div>

<style>
    .two-side-btn{
        display: flex;
        justify-content:space-between;
        padding: 0.7em 1em;
    }
    .right-side-btn{
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0.3em;
        bottom: 2em;
    }
    .right-side-btn span{
        padding: 1em 0.6em;
    }
</style>