.com_tab_special_bet_value{
  .box{
    width: 300px;
    height: 400px;
    padding: 1em;
    border: 1px solid black;
    float: left;
    margin-right: 1em;
    position: relative;
    overflow: auto;
  }
}