.report-block-tree-menu
  padding 30px

  .block-btn
    display inline-block
    position relative
    width 150px
    height 90px
    margin 10px
    background-color #eaeaea
    border 1px solid #d4d4d4
    border-radius 2px
    &:hover
      background-color #f6f6f6
      cursor pointer
    .icon
      font-size 120%
      position absolute
      left 3px