{% load jsonify %}


<script>

    depart_list={{ depart_list | jsonify | default:'false' }}
    crt_depart={{ crt_depart | jsonify | default:'false' }}

    $(function(){
        new Vue({
            el:'#depart-btn',
            data:{
                depart_list:depart_list,
                crt_depart:crt_depart,
            },
            methods:{
                depart_link:function(pk){
                    ff.replace(ex.appendSearch({_depart:pk}))
//                    window.location.replace(ex.appendSearch({_depart:pk}))
//                    parent.replace_iframe(ex.appendSearch({_depart:pk}))
//                    location.replace(ex.appendSearch({_depart:pk}))
                }
            }
        })
    })

</script>

<div id="depart-btn" style="text-align: center;padding:0.3em 0;border-bottom: 1px solid #ffffff;">
    <div class="btn-group" role="group" aria-label="..." >
        <a type="button" :class="['btn btn-default',{'btn-info':crt_depart.pk==depart.pk}]" v-for="depart in depart_list" @click="depart_link(depart.pk)" v-text="depart.label">Left</a>
    </div>
</div>