{% extends "f7/base.html" %}
{% load static %}
{% load jsonify %}

{% block page_content %}
<script src='{% static "js/ex_inputs.pack.js?t=12345" %}'></script>


<script type="text/javascript">

    ff.pop_menu(function(){
        var buttons = [
            {
                text: '新建部门',
                onClick: function () {
//                    table.$refs.catalog.dir_create();
                    table.item_create()
                }
            },
        ];
        if(table.checked.length>0){
            buttons.push({
                text: '删除选中项',
                onClick: function () {
                    table.item_del_checked()
//                    table.$refs.catalog.item_del()
                }
            })
        }
        if(table.checked.length>0){
            buttons.push({
                text: '剪切',
                onClick: function () {
                    table.cut()
//                    table.$refs.catalog.cut()
                }
            })
        }
        if(table.clip.length>0){
            buttons.push({
                text: '粘贴',
                onClick: function () {
                    table.paste()
//                    table.$refs.catalog.paste()
                }
            })
        }

        buttons.push({
            text: '取消',
            color: 'red',
        })
        ff.app.actions(buttons)
    })




    bus=new Vue()

    heads={{ heads | jsonify }}
    department_url = "{% url 'organize.department' %}"
    depart_layer_tree_url = "{% url 'organize.tree_depart' %}"

    dp_back_call=back_ops(depart_layer_tree_url)


    $(function () {
        table=new Vue({
            el:'#there',
            data:{

//                crt_view:'main',
//                crt_name:'',

                ex:ex,
//                is_show_menu:false,
//                in_wx_agent:in_wx_agent,
//                state:{},
//                department_url:department_url,

//                rows:[],

                parents:[{pk:null,name:'公司'}],
                items:[],

                checked:[],
                clip:[],

            },
            computed:{
                par:function(){
                    return this.parents[this.parents.length-1]
                } ,
                root:function(){
                    return this.parents[0]
                }
            },

            mixins:[field_fun],
            mounted:function(){
//                this.$refs.catalog.dir_data()
                var self=this
                dp_back_call([{fun:'dir_data',root:this.root,par:this.par}],function(resp){
                    self.parents=resp.dir_data.parents
                    self.items=resp.dir_data.items
                })
            },
            methods:{

//                set_state:function(state){
//                    for(var k in state){
//                        Vue.set(this.state,k,state[k])
//                    }
//                },
                after_sub:function(){
                    location=document.referrer
                },
                item_create:function(){
                    var  self=this
                    dp_back_call([{fun:'item_create',par:this.par},
                                {fun:'dir_data',root:this.root,par:this.par}],
                       function(resp){
                        self.parents=resp.dir_data.parents
                        self.items=resp.dir_data.items
                    })
                },
                item_del_checked:function(){
                    var  self=this
                    var par=this.parents[this.parents.length-1]
                    var root=this.parents[0]
                    dp_back_call([{fun:'item_del',rows:this.checked},
                                {fun:'dir_data',root:this.root,par:this.par}],
                            function(resp){
                                self.parents=resp.dir_data.parents
                                self.items=resp.dir_data.items
                            })
                },
                cut:function(){
                    this.clip=this.checked.slice()
                },
                paste:function(){
                    var self=this
                    dp_back_call([{fun:'items_paste',rows:this.clip,par:this.par},
                                {fun:'dir_data',root:this.root,par:this.par}],function(resp){
                        self.parents=resp.dir_data.parents
                        self.items=resp.dir_data.items

                    })
                },

                edit:function(item){
                    this.rows=[item]
                    var url=ex.template('{engine_url}/{page_name}.edit?pk={pk}',{
                        engine_url:engine_url,
                        page_name:page_name,
                        pk:item.pk
                    })
                    ff.load(url,page_name+'_edit')
//                    ln.pushState({op:'edit_aa',arg:item,crt_view:'editor'})
                },
//                edit_aa:function(item){
//                    this.kw.row=item
//                },
//                show:function(v){
//                    alert(v)
//                },

                dir_data:function(item){
                    var self=this
                    this.checked=[]
                    dp_back_call([{fun:'dir_data',root:this.root,par:item}],function(resp){
                        self.parents=resp.dir_data.parents
                        self.items=resp.dir_data.items
                    })
                },
            },

        })
    })

</script>



<div id='there' class="flex-grow" v-cloak style="position: relative;">

    <div class="scroll-wraper">


        <lay-tree-head :items="parents" @item_click="dir_data($event)"></lay-tree-head>

        <ul style="margin-left: 1em;list-style:none;">
            <li v-for="item in items"  style="margin: 0.4em 1em;">

                <input type="checkbox" :value="item" v-model="checked">

                <span style="margin-left: 1em;" v-text="item._label" @click="dir_data(item)"></span>

                 <span style="color: #0092F2;margin-right: 2em;padding: 0.1em;float: right;">
                        <i v-if="ex.isin(item,checked)" @click="edit(item)"  class="fa fa-pencil-square-o" aria-hidden="true"></i>
                 </span>

            </li>
        </ul>

        <!--<com-test></com-test>-->

        <!--<scroll-wraper class="main-content" ref="scroller" style="width: 100vw;height:90vh;">-->
        <!--<com-catalog class="mobile" ref="catalog" :url="department_url" :root="{pk:null,name:'公司'}"-->
                     <!--@state_change="set_state($event)" :editable="true">-->


            <!--<template scope="box" slot="check_sel">-->
                <!--<div @click="box.toggle_check(box.value)" >-->
                    <!--<i  v-if="ex.isin(box.value,box.selected)" class="fa fa-circle" aria-hidden="true"></i>-->
                    <!--<i  v-else  class="fa fa-circle-o" aria-hidden="true"></i>-->
                <!--</div>-->

            <!--</template>-->


            <!--&lt;!&ndash;<div slot="head_end" style="text-align: right;padding: 0.5em 1em;" v-if="in_wx_agent">&ndash;&gt;-->
                <!--&lt;!&ndash;<i class="fa fa-align-justify fa-2x" aria-hidden="true" @click="is_show_menu=true"></i>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->

            <!--<template scope="dir_icon">-->
                <!--<span></span>-->
                <!--&lt;!&ndash;<i class="fa fa-folder fa-2x" aria-hidden="true"></i>&ndash;&gt;-->
            <!--</template>-->

            <!--<template scope="box" slot="item_icon">-->
                <!--<i  class="fa fa-file-o fa-2x" aria-hidden="true"></i>-->
            <!--</template>-->

            <!--<template slot="btn-panel" scope="box">-->
                    <!--<span style="color: #0092F2;margin-right: 2em;padding: 0.1em;">-->
                        <!--<i v-if="ex.isin(box.item,box.selected)" @click="edit(box.item)"  class="fa fa-pencil-square-o" aria-hidden="true"></i>-->
                    <!--</span>-->

            <!--</template>-->

        <!--</com-catalog>-->
        <!--</scroll-wraper>-->

        <!--@click.native="show_menu=false"-->

        <!--<transition name="fade">-->
            <!--<modal v-show="is_show_menu" id="pop-menu">-->
                <!--<div class="weui-actionsheet__menu" @click.stop="" style="width: 80vw;" v-if="can_edit">-->
                    <!--<div class="weui-actionsheet__cell" @click="edit($refs.catalog.selected[0]);is_show_menu=false" v-show="state.has_select">编辑</div>-->

                    <!--<div class="weui-actionsheet__cell" @click="$refs.catalog.dir_create();is_show_menu=false">新建部门</div>-->
                    <!--&lt;!&ndash;<div class="weui-actionsheet__cell" @click="$refs.catalog.item_create();show_menu=false" v-if="work_can_add">新建工时</div>&ndash;&gt;-->
                    <!--<div class="weui-actionsheet__cell" @click="$refs.catalog.item_del();is_show_menu=false" v-show="state.has_select">删除选中项</div>-->
                    <!--<div class="weui-actionsheet__cell" @click="$refs.catalog.cut();is_show_menu=false" v-show="state.can_cut">剪切</div>-->
                    <!--<div class="weui-actionsheet__cell" @click="$refs.catalog.paste();is_show_menu=false" v-show="state.can_paste">粘贴</div>-->
                <!--</div>-->
                <!--<div class="weui-actionsheet__cell">-->
                    <!--<div class="weui-actionsheet__cell" @click="is_show_menu=false">取消</div>-->
                <!--</div>-->
            <!--</modal>-->
        <!--</transition>-->


    </div>

    <!--下面的滑动窗口暂时不用了，编辑department是跳转到其他tab页面进行编辑-->
    <!--<transition name="slide">-->
        <!--<div v-show="crt_view=='editor'" class="slide-win">-->
            <!--&lt;!&ndash;<scroll-wraper ref="editor_scroller" style="width:100vw;height:90vh;">&ndash;&gt;-->
            <!--<title-bar :with_back="true" title="编辑部门信息"></title-bar>-->
            <!--<div class="weui-cells__title">编辑</div>-->

            <!--<div class="form-pad" >-->
                <!--<field  v-for='head in kw.heads' :key="head.name" :name='head.name' :kw='kw'></field>-->
            <!--</div>-->

            <!--<div v-btn-group>-->
                <!--<a state="success" @click="item_save()">确定</a><br/>-->
            <!--</div>-->

            <!--&lt;!&ndash;</scroll-wraper>&ndash;&gt;-->
        <!--</div>-->
    <!--</transition>-->



</div>


<script>
    Vue.component('com-test',{
        template:'<span @click="say()">hello</span>',
        methods:{
            say:function(){
                ff.load_vue_com({url:'/static/apps/director_f7.pack.js',
                                    com_html:'<com-fuck-try :name="myname"></com-fuck-try>',
                                    data:{myname:'dog'},
                                    name:'test',
                                    label:'测试',
                                    callback:function(){
                    alert('jj')
                }})
//                parent.mainView.router.loadContent(this.$el)
            }
        }
    })


</script>


<style type="text/css" media="screen" id="test">

    body{
        background-color: #faf6fa;
    }


</style>


{% block extra %}
{% endblock %}
{% endblock %}