{% extends "f7/fields.html" %}

{% block extra_body %}
<script>
    form_logic.methods.after_sub=function(new_row){
            hide_upload(100)

            setTimeout(function(){
                ff.back(function(last_win){
                    ex.assign(last_win.table.base_kw.row,new_row)
                })
            },200)

            }

</script>

{% endblock %}

{% block sub_btn_group %}
    <div style="margin-bottom: 8em;">
        <a style="width: 60vw;margin: auto;margin-top: 2em;" href="#" class="button button-fill" @click="submit()">确定</a>
    </div>
{% endblock %}