{% extends "f7/base.html" %}
{% load static %}
{% load jsonify %}

{% block extra_script %}


{% endblock %}
{% block page_content %}
<!--<script src="http://192.168.1.101:9999/target/target-script-min.js#anonymous"></script>-->

<!--<script src="{% static 'js/fields_mb.pack.js' %}"></script>-->
<script type="text/javascript">

    no_emp = {{ no_emp | jsonify | default:'false' }}
    username='{{ user.username }}'

    emp_heads={{ emp_heads | jsonify | default:'[]' }}
    emp_row={{ emp_row | jsonify | default:'{}' }}

    base_heads={{ base_heads | jsonify | default:'[]' }}
    base_row={{ base_row | jsonify | default:'{}' }}

    chg = '{% url 'change_password' %}'
    logout_url='{% url "logout" %}'
    uid={{ user.id }}

    ex.each(emp_heads,function(head){
        head.readonly=true
    })

    base_heads_readonly=ex.copy(base_heads)
    ex.each(base_heads_readonly,function(head){
        head.readonly=true
    })

    $(function(){
        new Vue({
            el:'#there',
            data:{
                no_emp:no_emp,
                username:username,
                emp_kw:{
                    heads:emp_heads,
                    row:emp_row,
                },
                base_kw:{
                    heads:base_heads_readonly,
                    row:base_row,
                },
                is_edit:false,
            },
//            mixins:[field_fun],
            computed:{
                chg_url:function(){
                    return ex.appendSearch(chg,{uid:uid,next:encodeURIComponent(location.href)})
                },
                logout_url:function(){
                    return ex.appendSearch(logout_url,{next:encodeURIComponent(root_page)})
                },
            },
            mounted:function(){

            },
            methods:{
                submit:function(){
                    var self=this
                    show_upload()
                    var post_data=[{fun:'save_self_info','base_info':this.base_kw.row}]
                    ex.post("/_ajax/organize",JSON.stringify(post_data),function(resp){
//                        alert(resp)
                        if(!resp.save_self_info.msg){
//                            weui.toast('操作成功', 3000);
                        }
                        hide_upload(500)
                        setTimeout(function(){
                            self.is_edit=false
                            self.base_kw.heads=base_heads_readonly
                        },600)

                    })
                },
                start_edit:function(){
                    this.is_edit=true
                    this.base_kw.heads=base_heads
                }
            }
        })
    })

    $(function(){
        $('#work-panel').removeClass('weui-bar__item_on')
        $('#employee-center').addClass('weui-bar__item_on')
    })
</script>
<style>
    .field_input img{
        width: 7em;
    }
</style>

<div id="there" v-cloak>

    <!--<div class="scroll-wraper">-->

    <div v-if="no_emp">
        <h2>
            你还不是员工，请告知管理员你申请的账号，等待转换为员工账号。
        </h2>
    </div>


    <div class="weui-cells__title">账号信息</div>



    <div class="form-pad">
        <div style="font-size: 0.7em;float: right;">
            <a :href="logout_url" style="padding-right: 2em;">退出登录</a>
            <a :href="chg_url" style="padding-right: 1em;">修改密码</a>
        </div>

        <div >
            <span style="padding-right: 10px;">账号</span>
            <span v-text="username" ></span>
        </div>

    </div>


    <div v-if="!no_emp">
        <div class="weui-cells__title">工作信息</div>

        <div class="form-pad">
            <field v-for="head in emp_kw.heads" :name="head.name" :kw="emp_kw"></field>
        </div>

        <div class="weui-cells__title">个人信息</div>
        <!--<el-form  label-width="80px" class="el-form-pad">-->
        <div class="form-pad">
            <field v-for="head in base_kw.heads" :name="head.name" :kw="base_kw"></field>
        </div>

        <!--</el-form>-->



        <div style="text-align: center;padding: 3em 0 8em 0;" >
            <a v-if="is_edit" type="button" class="btn btn-success btn-sm" href="javascript:"  @click="submit()" style="width: 16em;">确定</a>
            <a v-if="!is_edit" type="button" class="btn btn-primary btn-sm" href="javascript:"  @click="start_edit()" style="width: 16em;">修改</a>
        </div>
    </div>
    <!--</div>-->





</div>

<style type="text/css">

</style>

{% endblock %}

