{% extends "maindb/table.html" %}

{% block extra_head %}
<script>

    this_table_logic={
        mounted:function(){
            var self=this
            ex.assign(this.op_funs,{
                online:function(){
                    self.set_banner_state(1)
                },
                offline:function(){
                    self.set_banner_state(0)
                }
            })
        },

        methods:{
            set_banner_state:function(state){
                var self=this
                var post_data=[{fun:'set_banner_status',rows:this.selected,status:state}]
                cfg.show_load()
                ex.post('/d/ajax/'+app,JSON.stringify(post_data),function(resp){
                    cfg.hide_load(2000)
                    ex.each(self.selected,function(item){
                        item.status = state
                    })
                })
            },
            add_new:function(){
                var self=this
                var post_data=[{fun:'get_row',model_name:model_class}]
                cfg.show_load()
                ex.post('/d/ajax',JSON.stringify(post_data),function(resp){
                    cfg.hide_load()
                    var tmp_row = resp.get_row

//                    self.open_layer(tmp_row)
                })
            },
     }
}

table_logic.mixins=[mix_table_data,mix_v_table_adapter,this_table_logic]

</script>
{% endblock %}

{% block table_content %}
<v-table ref="vtable" is-horizontal-resize
         is-vertical-resize
         :vertical-resize-offset="74"
         :title-row-height="30"
         :row-height="100"
         :multiple-sort="false"
         :sort-always="true"
         odd-bg-color="#f0f6f8"
         column-width-drag
         style="width: 100%;"
         :columns="columns"
         :table-data="rows"
         @sort-change="sortChange"
         :select-group-change="on_select_group_change"
         :select-all="on_select_group_change"
         row-hover-color="#eee"
         row-click-color="#edf7ff">
</v-table>
{% endblock %}