{% extends "maindb/table_pop_edit.html" %}

{% block extra_head %}
<script>

    this_table_logic={
        mounted:function(){
            // 刚开始没有选中项
            this.$refs.op_offline[0].set_enable(false)
            this.$refs.op_online[0].set_enable(false)
        },
        watch:{
            selected:function(nv){
                this.$refs.op_offline[0].set_enable(nv.length != 0)
                this.$refs.op_online[0].set_enable(nv.length != 0)
            }
        },
        methods:{
            on_operation:function(operation){
                if(operation=='add_new'){
                    this.add_new()
                }
                if(operation=='delete'){
                    this.del_selected()
                }
                if(operation=='online'){
                    this.set_banner_state(1)
                }
                if(operation=='offline'){
                    this.set_banner_state(0)
                }
         },
            set_banner_state:function(state){
                var self=this
                var post_data=[{fun:'set_banner_status',rows:this.selected,status:state}]
                cfg.show_load()
                ex.post('/d/ajax/'+app,JSON.stringify(post_data),function(resp){
                    cfg.hide_load(2000)
                    ex.each(self.selected,function(item){
                        item.status = state
                    })
                })
            }
     }
}
table_logic.mixins=[mix_table_data,mix_v_table_adapter,mix_table_page,this_table_logic]

    $(function () {
        table=new Vue(table_logic)
    })
</script>
{% endblock %}

{% block table_content %}
<v-table ref="vtable" is-horizontal-resize
         is-vertical-resize
         :vertical-resize-offset="74"
         :title-row-height="30"
         :row-height="100"
         :multiple-sort="false"
         :sort-always="true"
         odd-bg-color="#f0f6f8"
         column-width-drag
         style="width: 100%;"
         :columns="columns"
         :table-data="rows"
         @sort-change="sortChange"
         :select-group-change="on_select_group_change"
         :select-all="on_select_group_change"
         row-hover-color="#eee"
         row-click-color="#edf7ff">
</v-table>
{% endblock %}