{% extends "adminlte/base.html" %}
{% load static %}
{% load jsonify %}

{% block page_content %}
<script src='{% static "js/maindb.pack.js?t=" %}{{ js_stamp.maindb_pack_js }}'></script>

<script type="text/javascript">

    //	row_filters=
    //	placeholder =
    //	row_sort=
    //	heads=
    //	rows=
    //	row_pages =

    //	can_add=
    //	can_del=
    //	search_args=ex.parseSearch()
    //	search字段从 search_args._q 来取值
    tabs={{ tabs | jsonify | default:'[]' }}

    table_logic={
        el:'#there',
        data:{
            page_label:page_label,
            heads:heads,
            rows:rows,
            row_filters:row_filters,
            row_sort:row_sort,
            row_pages:row_pages,
            selected:[],
            search_args:ex.parseSearch(),
            ops:ops,
            tabgroup:{
                crt:'main',
                tabs:tabs
            },
            crt_row:{}

        },
        mixins:[mix_table_data,mix_v_table_adapter],
        computed:{
            has_select:function(){
                return this.selected !=0
            },
        },
        methods:{
            on_td_event:function(e){
                if(e.name=='row-changed'){
                    var row= e.row
                    if(!ex.isin(row,this.changed_rows)){
                        this.changed_rows.push(row)
                    }
                }
                if(e.name=='switch_to_tab'){
                    this.show_tab(e.tab_name)
                    this.crt_row= e.row

                }
            },
            on_select_group_change:function(sel,v){
                this.selected= sel
            },
            back_to_main_page:function(){
                this.tabgroup.crt='main'
            },
            show_tab:function(name){
                this.tabgroup.crt = name
                var self =this
                Vue.nextTick(function(){
                    self.$refs['_tab_'+name][0].on_show()
                })

            },
            get_attr:function(name){
                if(name == undefined){
                    return false
                }
                if(name.startsWith('!')){
                    name=name.slice(1)
                    name= name.trim()
                    return !this[name]
                }else{
                    name= name.trim()
                    return this[name]
                }
            }
        }

    }
    $(function () {
        table=new Vue(table_logic)
    })

</script>

{% block extra_head %}
{% endblock %}
<style>
    a[disabled] {
        color: gray;
        pointer-events: none;
    }
</style>
<div id='there' class="flex-v" style="height: 85vh;">

    <ol v-if="page_label" class="breadcrumb">
        <b v-text="page_label"></b>

        <button v-show="tabgroup.crt != 'main'" @click="back_to_main_page()">back</button>

        <span class="oprations">
            <component style="padding: 0.5em;" v-for="op in ops"
                       :is="op.editor"
                       :ref="'op_'+op.name"
                       :head="op"
                       :disabled="get_attr(op.disabled)"
                       v-show="! get_attr(op.hide)"
                       @operation="on_operation(op.name)"></component>
        </span>
    </ol>
    <!--<path-nav v-else :menu='menu'></path-nav>-->

    <div id="main-page" class="rows-block" v-show="tabgroup.crt =='main'">
        <div class='flex' v-if="row_filters.length > 0" style="min-height: 3em;">
            <com-filter class="flex" :heads="row_filters" :search_args="search_args"
                        @submit="search()"></com-filter>
            <div class="flex-grow"></div>
        </div>
        <div class="box box-success">
            <div class="table-wraper">
                {% block table_content %}
                <v-table ref="vtable" is-horizontal-resize
                         is-vertical-resize
                         :vertical-resize-offset="80"
                         :title-row-height="30"
                         :row-height="24"
                         odd-bg-color="#f0f6f8"
                         column-width-drag
                         @on-custom-comp="on_td_event($event)"
                         style="width: 100%;"
                         :columns="columns"
                         :table-data="rows"
                         @sort-change="sortChange"
                         :select-group-change="on_select_group_change"
                         :select-all="on_select_group_change"
                         row-hover-color="#eee"
                         row-click-color="#edf7ff">
                </v-table>
                {% endblock %}
            </div>
            <div style="margin-top: 10px;">
                <v-pagination @page-change="get_page($event)"
                              :total="row_pages.total"
                              size="small"
                              :page-size="row_pages.perpage"
                              @page-size-change="on_perpage_change($event)"
                              :layout="['total', 'prev', 'pager', 'next', 'sizer', 'jumper']">
                </v-pagination>
            </div>
        </div>
    </div>
    <div id="tab-wrap" v-if="tabgroup.crt!='main'">
        <div class="flex">
            <ul class="nav nav-tabs tabs flex-grow">
                <li v-for="tab in tabgroup.tabs"
                    :class="{'active':tabgroup.crt==tab.name}"
                    @click="show_tab(tab.name)"
                    style="cursor: pointer;">
                    <a  v-text="tab.label" ></a>
                </li>
            </ul>
        </div>

        <component v-for="tab in tabgroup.tabs"
                   v-show="tabgroup.crt==tab.name"
                   :is="tab.com" :tab_head="tab"
                   :par_row="crt_row"
                   :ref="'_tab_'+tab.name" ></component>

    </div>



</div>
<style>
    .fake-suit th{
        white-space: nowrap;
    }

    /*.table thead tr {*/
    /*display:block;*/
    /*}*/
    /*.table tbody {*/
    /*display: block;*/
    /*height: 300px;*/
    /*overflow: auto;*/
    /*}*/
    /*.table th {*/
    /*width:20%;*/
    /*}*/
    /*.table td {*/
    /*width:20%;*/
    /*}*/

</style>
{% block extra %}
{% endblock %}
{% endblock %}