<!DOCTYPE html>
<html lang="zh-CN">
{% load static %}
{% load jsonify %}

    <head>
        <meta charset='utf-8' />
        <script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <script src="http://cdn.bootcss.com/vue/2.0.6/vue.js"></script>
        <!--<script src="//cdn.bootcss.com/vue/2.0.5/vue.min.js"></script>-->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	    <!--<link href="http://cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">-->
	    <script src='{% static "js/uis.pack.js" %}'></script>
	    <script src='{% static "js/exfun.js" %}'></script>
	    <script src='{% static "js/fields.pack.js?t=201701101349" %}'></script>
	     <link href="{% static 'css/ui.css'%}" rel="stylesheet">
    </head>


    <body >
	<div class="all flex-v">
		<div id='head'>

		</div>
		<div id='wrap' class="flex-grow">

			<div style="background-color: blue;">
				ss
			</div>
		</div>

		<div id='footer'>
			sss
		</div>
	</div>

        

    <style type="text/css" media="screen" id="test">
	    .all{
		    background-color: #c2eed5;
			height: 100vh;

	    }

	    #head{
		    overflow: hidden;
		    background-color: #2C3542;
		    min-height:40px;
			min-width: 100px;
		    color: #C5C5C5;
	    }

    	#footer{
	    	background-color: red;
	    	min-height:30px;
			/*height: 400px;*/

    	}

    </style>
	</body>
</html>