{% extends "f7/base.html" %}
{% load static %}
{% load jsonify %}



{% block page_content %}
<script>


    page_label='首页'

    menu = {{ menu | jsonify }}

    function home_init(){
        home=new Vue({
            el:'#there',
            data:{
                menu:menu,
            },
            methods:{
                load:function(url,name){
                    ff.load(url,name)
                }
            }
        })
    }
    $(function(){
        home_init()
    })


</script>

<div id="there">

    <div class="b-image">
        <img src="/static/image/201502041009207922590_225_260.jpg" width="100%"/>
    </div>


    <div class="weui-cells__title">工作面板</div>
    <div class="weui-cells">
        <div class="weui-grids">
            <!--<a :href="'/_f7_iframe?name=iframe_'+act.name+'&src='+act.url" class="weui-grid ajax" v-for="act in menu">-->
            <span @click="load(act.url,act.name)" class="weui-grid ajax" v-for="act in menu">
                <div class="weui-grid__icon">
                    <span v-html="act.icon"></span>
                </div>
                <p class="weui-grid__label" v-text="act.label"></p>
            </span>
        </div>
    </div>


</div>


{% endblock %}



